/*Background of site*/
html{
  height: 100%;
  width: 100%;
  background-color: #FCFCFC;
}
/*Header formatting*/
header{
  text-align: center;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  font-size: 32px;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-color: #2B2B2B;
  width: 100%;
  height: 50px;
  background-color: white;
  display: inline-block;
}

/* Div containing the top and bottom half formatting of the nav bar. top half = header, bottom half = nav bar*/
.top_bar{
width: 100%;
height: 50px;
background-color: white;
display: inline-block;

}
/*Div containing the menu options on the nav bar (Unorganized List)*/
.top_bar .ulnav{
 /* padding-bottom: 13px;*/
  list-style-type: none;

  overflow: hidden;
  /*margin-left: auto;
  margin-right: auto;*/
}

/*Nav Bar Option Selectors (on individual basis)*/
.linav{
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 12.5%;
  float: left;
}

/*The links of the front page nav bar*/
.anav{
  text-decoration: none;
  font-weight: bold;
  font-family: Merriweather, serif;
  color: #2B2B2B;
  display: block;
}

img.BigPic{
  width: 100%;
  height: 610px;
  position: fixed;
}

/* This is an old class. Saving information here.
.bardiv{

  display: inline-block;
  height: 100%;
  width: 12.25%;
  text-align: center;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Merriweather, serif;
  color: #2B2B2B;
}*/